<%= render 'layouts/navigation' %>

<div class="container">
  <div class="card col-md-6 mt-5 mx-auto">
    <div class="card-body">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @type.name %>
      </p>

      <%= link_to 'Edit', edit_type_path(@type), class: 'btn btn-success text-light' %> |
      <%= link_to 'Back', types_path, class: 'btn btn-secondary text-light' %>
    </div>
  </div>
</div>