<!DOCTYPE html>
<html>
  <head>
    <title>Stock Control App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="container mx-auto text-center col-md-4">
      <p class="alert-success"><%= notice %></p>
      <p class="alert-danger"><%= alert %></p>
    </div>
  </body>
</html>
